<script id="sidebarRawTemplate" type="text/x-handlebars-template">
            {{#sidebaritem}} 
				<div class="navigation-item">
				{{#if submenus}}  
					<a href="#" class="nav-item submenu-deploy {{classn}}">{{name}}<em class="dropdown-item"></em></a>
					<div class="nav-submenu">
						{{#each submenus}}
  							<a href="{{pageurls}}"> {{names}} <em class="unselected-item"></em></a>
  						{{/each}}
                    	
                	</div>
				{{else}} 
					<a href="{{url}}" class="nav-item {{classn}}">{{name}}<em class="unselected-item"></em></a>
				{{/if}}


                
            	</div>   
            	<div class="sidebar-decoration"></div>
            {{/sidebaritem}} 
            </script>