<html>
<head>
<title>title 1 </title>
<script src="handlebars-v1.3.0.js" ></script>
<script src="jquery-2.1.0.js"></script>
<link rel="stylesheet" type="text/css" href="app1.css">


</head>
<body>
<h1>Here is the body</h1>


<h1>Handlebars JS Example</h1>
<script id="dailyTeachingsTemplate" type="text/x-handlebars-template"> <table>
    <thead> 
        <th>Date</th> 
        <th>Teaching</th> 
        <th>Image</th> 
		<th>Greeting</th> 
		<th>Author</th> 
    </thead> 
    <tbody> 
        {{#[day]}} 
        <tr> 
            <td>{{[date]}}</td> 
            <td>{{[teaching]}}</td> 
            <td>{{[image]}}</td> 
			<td>{{[greeting]}}</td> 
			<td>{{[author]}}</td>
        </tr> 
        {{/[day]}} 
    </tbody> 
</table> 
</script>



<script>

$( document ).ready(function() {

var source = $("#dailyTeachingsTemplate").html(); 
var template = Handlebars.compile(source); 

var data ={
    "version": "0.1",
    "day": [
      {
        "date": "01-01-2014",
        "teaching": "teaching no 1",
        "image": "image path 1",
        "greeting": "have a nice day",
        "author": "Sri Bhagavan"
      },
      {
        "date": "02-01-2014",
        "teaching": "teaching no 2",
        "image": "image path 2",
        "greeting": "have a nice day",
        "author": "Sri Bhagavan"
      },
      {
        "date": "03-01-2014",
        "teaching": "teaching no 13",
        "image": "image path 3",
        "greeting": "have a nice day",
        "author": "Sri Bhagavan"
      }
    ]
  }; 

Handlebars.registerHelper('fullName', function(person) {
  return person.firstName + " " + person.lastName;
});

$('body').append(template(data));


});

</script>




</body>
</html>