{{#[day]}} 
            	<div class="one-half-responsive {{#if [position]}} last-column {{/if}} ">
                    <p class=" {{#if [position]}} thumb-right {{else}} thumb-left {{/if}} no-bottom">
                    <!--    <img src="{{[image]}}" alt="Unable to load image">  -->
                        <em>{{[date]}} <br> </em>
                        <em>{{[teaching]}} </em>
						<em><br>-{{[author]}}</em>
                    </p>
                    <div class="thumb-clear"></div>
                </div>
				<div class="decoration  {{#if [position]}}  {{else}} hide-if-responsive {{/if}}  "></div>
                {{/[day]}} 