{{#sidebaritem}} 

{{#if social}}  
<div  id="headerHolder" class="sidebar-breadcrumb">SOCIAL</div>
{{/if}}



				<div class="navigation-item">
				{{#if submenus}}  
					<a href="#" class="nav-item submenu-deploy {{classn}}">{{name}}<em class="dropdown-item"></em></a>
					<div class="nav-submenu">
						{{#each submenus}}
  							<a href="{{pageurls}}"> {{names}} <em class="unselected-item"></em></a>
  						{{/each}}
                    	
                	</div>
				{{else}} 
				
				 {{#if social}}
				 <a href="{{[url]}}" class="nav-item {{[classn]}}">{{[name]}}<em class="link-item"></em></a>
				 {{else}}
					<a href="{{url}}" class="nav-item {{classn}}">{{name}}<em class="unselected-item"></em></a>
					{{/if}}
					
				{{/if}}


                
            	</div>   
            	<div class="sidebar-decoration"></div>
            {{/sidebaritem}}