
.content .container{

float:left;
width:49.5%;
margin:0;
border:1px solid #ccc;
border-bottom:2px solid #ccc;
height:150px;
padding:0 1%;
/*
border-radius:1em;
background:#7070B8;#BD493E;*/

}

.one{margin-top:0px;}

.content .container h5{

/*background-color:rgba(51,51,153, 0.5);*/
line-height:35px;
font-size:20px;

}

.content .container p{

font-size:15px;

}

.one{
background:url('../images/new_deeksha.jpg');
}

.two{
background:url('../images/bagavan.Png') no-repeat;

}

.content .one, .content .two, .seven{

width:100% !important;
}
/*
.content .container:first-child{

background:#7070B8;#BD493E;

}

.content .container:first-child h5{

background-color:rgba(51,51,153, 0.5);

}

.content .container:first-child + .container{

background:#99B2E6;

}

.content .container:first-child + .container h5{

background-color:rgba(51,102,204, 0.7);

}

.three{

background:#FFFFA3;

}

.three h5{

background-color:rgba(230,230,92, 0.7);

}

.four{

background:#FFA366;

}

.four h5{

background-color:rgba(204,82,0, 0.7);

}

.five{

background:#FF66B3;

}

.five h5{

background-color:rgba(230,0,115, 0.7);

}

.six{

background:#B366B3;

}

.six h5{

background-color:rgba(115,0,115, 0.7);

}

.seven{

background:#CCCC99;

}

.seven h5{

background-color:rgba(106,106,90, 0.7);

}

.eight{

background:#66C285;

}

.eight h5{

background-color:rgba(0,122,41, 0.7);

}

*/
.content{

min-height:600px;

}

@media (max-width: 70px) {

.content{
margin:0;
}

.content .container{
width:30%;
height:100px;
/*background:#7070B8;#BD493E;*/

}


}

@media (max-width: 50px) {

.content{
margin:0;
}

.content .container{


width:150px;
height:100px;
/*background:#7070B8;#BD493E;*/

}


}